.container {
	position: relative;
	border: 1px solid red;
	background-color: rgba(0, 0, 0, 0.3);

	animation: breath 4s linear infinite;
}

.frame {
	position: absolute;
	z-index: 2;
}

.wrapper {
	position: absolute;
	z-index: 1;
	width: 90%;
	height: 90%;
}

@keyframes breath {
	0% {
		box-shadow: 0 0 0.7rem 0.7rem rgba(255, 0, 0, 0.5);
	}
	50% {
		box-shadow: 0 0 0.1rem 0.1rem rgba(255, 0, 0, 0.5);
	}
	100% {
		box-shadow: 0 0 0.7rem 0.7rem rgba(255, 0, 0, 0.5);
	}
}
