.container {
	--btn-size: 1.5rem;

	background-color: rgba(255, 255, 255, 0.5);
	padding: calc(var(--btn-size) / 2.5);
	border-radius: 2rem;
	gap: calc(var(--btn-size) / 2);

	transition: all 0.5s;
}
.container:hover {
	background-color: white;
	box-shadow: 0 0 0.3rem 0.1rem rgba(255, 255, 255, 0.4);
}

.navigate_btn {
	width: var(--btn-size);
	height: var(--btn-size);

	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.125);
	transition: all 1s;
	cursor: pointer;
}
.navigate_btn:hover {
	background-color: rgba(0, 0, 0, 0.5);
}
