.first_section_bg {
	background-attachment: fixed;
}

/* Stars */
#stars {
	position: absolute;
	top: 10%;
	left: 10%;
}
#stars_2 {
	position: absolute;
	bottom: 10%;
	right: 10%;
}
.stars > img {
	width: var(--star-size);
	height: var(--star-size);

	max-width: var(--max-star-size);
	max-height: var(--max-star-size);

	animation: star-rolling 2s infinite;
}
@keyframes star-rolling {
	0% {
		rotate: 0deg;
	}
	50% {
		rotate: 45deg;
	}
	100% {
		rotate: 90deg;
	}
}

/* Marquees */
.marquee {
	font-family: "Permanent Marker", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 2rem;

	background-color: rgb(216, 214, 116);
	transition: all 1s;
	color: black;
}
#marquee_1 {
	position: absolute;
	top: 2dvh;
	right: -10dvw;
	width: 110dvw;
	transform: rotate(9deg);
}
#marquee_2 {
	position: absolute;
	top: 60%;
	right: -50dvw;
	width: 200dvw;
	transform: rotate(150deg);
}
#marquee_3 {
	position: absolute;
	bottom: 0;
	right: -5dvw;
	width: 105dvw;
	transform: rotate(-5deg);
}
@media only screen and (min-width: 1300px) {
	#marquee_2 {
		transform: rotate(165deg);
	}
}
