.container {
	background-color: var(--bg);
	margin-left: var(--size);
	padding: 0.5rem;
	border-radius: 1rem;
}
.container::before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;

	top: 0;
	margin: var(--size) 0 0 calc(var(--size) * -2);

	border-right: calc(var(--size) * 2) solid var(--bg);
	border-top: var(--size) solid transparent;
	border-bottom: var(--size) solid transparent;
}
