.container {
	background-color: rgba(25, 25, 25, 0.98);
	backdrop-filter: blur(1.5rem);
	animation: breathe-glow 3s ease-in-out infinite;

	border: 1px solid var(--color);
	border-radius: 0.5rem;

	width: 90%;
	max-width: var(--breakpoint-desktop);
	height: 90vh;
	padding: 1rem;
}

@keyframes breathe-glow {
	0% {
		box-shadow: 0 0 2.5rem var(--color);
	}

	50% {
		box-shadow: 0 0 1rem var(--color);
	}

	100% {
		box-shadow: 0 0 2.5rem var(--color);
	}
}
