.container {
	max-width: 1920px;
	overflow: hidden;
}

.title {
	font-family: "PT Sans", sans-serif;
	font-weight: 800;
	font-size: 48px;

	-webkit-text-fill-color: transparent;
	background: linear-gradient(180deg, #fff, #494949);
	background-clip: text;
}

/* Center */
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.center-x {
	display: flex;
	justify-content: center;
}
.center-y {
	display: flex;
	align-items: center;
}

/* Direction */
.row {
	display: flex;
	flex-direction: row;
}
.col {
	display: flex;
	flex-direction: column;
}

/* Size Fit */
.fit {
	width: 100%;
	height: 100%;
}
.fit-x {
	width: 100%;
}
.fit-y {
	height: 100%;
}

/* Overflow */
.overflow-hidden {
	overflow: hidden;
}
