.all-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.x-center {
	display: flex;
	justify-content: center;
}

.y-center {
	display: flex;
	align-items: center;
}

.row {
	display: flex;
	flex-direction: row;
}

.col {
	display: flex;
	flex-direction: column;
}
