.page {
	--color-primary: black;
	--bg-primary: white;

	--primary-background: #2b294f;
	--secondary-background: #bd4d9c;
	--tertiary-background: #c390b3;

	color: var(--color-primary);
	background-color: white;

	min-width: 360px;
	width: 100vw;
	min-height: 100vh;
	text-align: center;
}

.header {
	min-height: 45px;
	color: white;
	--background-color: linear-gradient(
		to right,
		var(--primary-background),
		var(--secondary-background),
		var(--tertiary-background)
	) !important;
}

.wrapper {
	color: white;
	gap: 0.5rem;
}

.company_name {
	font-weight: 600;
}
