/* Slide + Opacity */
.default {
	width: 100%;
	height: 100%;

	opacity: 0;
	filter: blur(0.1rem);

	transition: all 1s ease-in;
}
.show {
	opacity: 1;
	filter: blur(0);
	transform: translate(0, 0) !important;
}
