.header {
	--background-color: red;

	position: sticky;
	top: 0;
	transition: top 0.5s;

	background: var(--background-color);
	height: var(--header-height);
	z-index: 999;

	justify-content: center;
}
.header-hide {
	top: calc(var(--header-height) * -1);
}
