.container {
	--box-shadow: 0 0 0.3rem 0.1rem white;
	-moz-box-shadow: var(--box-shadow);
	-webkit-box-shadow: var(--box-shadow);
	box-shadow: var(--box-shadow);

	width: 100%;
	height: 100%;
	background: rgb(10, 10, 10);
}

.main {
	--gap: 2rem;

	padding: var(--gap);
	gap: var(--gap);
}

.sidebar {
	width: 30%;
}

.wrapper {
	width: 70%;
}

.skill_logo {
	--size: 25px;
	width: var(--size);
	height: var(--size);
}
