.container {
	width: 100%;
	height: 100%;
}

.sidebar {
	width: 30%;
}

.wrapper {
	width: 70%;
}

.skill_logo {
	--size: 25px;
	width: var(--size);
	height: var(--size);
}

/* Information */
.info_card {
	width: 95vw;
	max-width: 720px;
	height: 50vh;
	max-height: 400px;

	background-color: rgb(8, 8, 8);
	border-radius: 1rem;
}

@media only screen and (min-width: 800px) {
	.info_card {
		height: 50vw;
	}
}
