.container {
	--color: black;
	--background-color: white;
	--border-color: white;

	border: 1px solid var(--border-color);
	border-radius: 1rem;
	overflow: hidden;
}

.title {
	padding: 0.5rem;
	background-color: var(--background-color);
	height: 2rem;

	color: var(--color);
	cursor: pointer;
	user-select: none;
}

.content {
	max-height: 0;
	overflow: hidden;

	transition: max-height 0.2s ease-out;
}
.content_wrapper {
	margin: 1rem;
}
