.working_time {
	font-size: 0.7rem;
	font-weight: 600;
}
.working_role {
	font-size: 1rem;
	font-weight: 700;
}
.working_skill_wrapper {
	gap: 1rem;
	margin: 0.5rem 0;
	overflow: auto;
}
.working_skill {
	height: 25px;
	gap: 0.5rem;
	padding: 0.25rem 0.75rem;

	color: var(--color);
	background-color: var(--skill-background-color);
	border-radius: 2rem;
	min-width: fit-content;
}

.projects_wrapper {
	gap: 1rem;
	margin: 0.5rem 0;
	overflow: auto;
}
.project {
	--size: 20rem;

	position: relative;

	border: 0.1rem solid var(--border-color);
	border-radius: 20px;

	min-width: var(--size);
	max-width: var(--size);

	height: calc(var(--size) / 2);

	cursor: pointer;
	overflow: hidden;
}
.project_bg {
	background-position: center;
	background-size: 100% 100%;
	filter: blur(0.1rem);
	transform: scale(1.25);

	transition: all 0.5s;

	z-index: 3;
}
.project:hover > .project_bg {
	transform: unset;
	filter: unset;
}

.project_name {
	font-weight: 600;
	color: var(--color);
	background-color: var(--background-color);
	border-radius: 1rem;
	padding: 1rem;

	z-index: 5;
}

.click_to_enter {
	position: absolute;
	bottom: 0;

	color: var(--color);
	background-color: var(--skill-background-color);
	padding: 0.5rem 1rem;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	opacity: 0;
	transition: opacity 0.3s;

	z-index: 5;
}
.project:hover > .click_to_enter {
	opacity: 1;
}

@media only screen and (min-width: 1000px) {
	.working_wrapper {
		padding: 1rem;
		gap: 1rem;
	}
	.project {
		--size: 30rem;
	}
}
