.container {
	position: relative;
	width: 100px; /* Adjust as needed */
	height: 100px; /* Adjust as needed */
	display: flex;
	align-items: center;
	justify-content: center;
}

.progressSvg {
	position: absolute;
	top: 0;
	left: 0;
}

.imageContainer {
	overflow: hidden;
	border-radius: 50%;
	width: 50px; /* Adjust based on the actual image size */
	height: 50px; /* Adjust based on the actual image size */
	display: flex;
	align-items: center;
	justify-content: center;
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
